::-webkit-input-placeholder { /* Edge */
    color: red;
  }

.tela31, .tela32, .tela33{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comando{
    font-size: 23px;
    font-weight: 700;
    margin-top: 140px;
    margin-bottom: 27px;
}

.tela31 ul, .tela32 ul, .tela33 ul{
    width: 45vw;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 21px 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 22px;
}

.tela31 input, .tela32 input, .tela33 input{
    height: 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4.5%;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin-bottom: 10px;
}

.tela31 input, .inputs{
    width: 94%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.tela32 input, .tela33 input{
    width: 100%;
}

.topico{
    width: 94%;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

.prosseguir{
    margin-top: 45px;
    margin-bottom: 50px;
    width: 360px;
    height: 54px;
    color: #FFF5F4;
    font-size: 21px;
    background-color: #EC362D;
    border: none;
    border-radius: 15px;
}

.acessar{
    margin-top: 45px;
    width: 220px;
    height: 54px;
    color: #FFF5F4;
    font-size: 21px;
    background-color: #EC362D;
    border: none;
    border-radius: 15px;
}

.image_quizz{
    width: 500px;
    height: 266px;
    margin-top: 12px;
    margin-bottom: 12px;
    object-fit: cover;
}

.voltarHome{
    border: none;
    background-color: #FAFAFA;
    font-size: 21px;
    color: #818181;
    margin-top: 9px;
}

@media (max-width: 1100px){
    .comando{
        font-size: 20px;
    }

    .tela31 ul, .tela32 ul, .tela33 ul{
        width: 100vw;
        max-width: 600px;
        padding: 4%;
    }

    .tela31 input, .inputs{
        width: 94vw;
    }

    .prosseguir{
        width: 321px;
        font-size: 18px;
    }

    .descNivel{
        min-height: 177px;
    }
}