/* Estilização da página */
.tela2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilização das perguntas do quiz */
.banner,.mascara,.box-pergunta, .conteiner-quiz,
.opcoes,.imagem{
  display: flex;
  align-items: center;
}

.opcoes{
  flex-direction: column;
}

.banner{
  justify-content: center;
  width: 100vw;
  height: 18vh; 
  margin-top: 69px;
  /* background-image: url(/images/hogwartsschoolpotter.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mascara{
  position: relative;
  justify-content: center;
  width: 100%;
  height: 18vh;
  background-color: black;
  opacity: 60%;
}

.banner p{
  position: absolute;
  font-weight: 400;
  font-size: 39px;
  line-height: 46px;
  text-align: center;
  word-break: break-all;
  color: white;
}

.conteiner-quiz{
  flex-direction: column;
  width: 53%;
  height: 52%;
  margin-top: 3%;
  gap: 20px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.box-pergunta{
  justify-content: center;
  width: 90%;
  height: 12vh;
  margin-top: 3%;
  padding: 20px;
  background-color: #434CA0;
}

.box-pergunta p{
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  word-break: break-all;
  color: #FFFFFF;
}

.opcoes{
  width: 100%;
  height: 100%;
  gap: 20px;
}

.linha-1, .linha-2{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 24px;
  padding: 0 36px;
}

.imagem{
  justify-content: center;
  width: 22vw;
  height: 22vh;
}

.imagem img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.alternativa{
  display: flex;
  flex-direction: column;
  width: min-content;
}

.alternativa p{
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  text-align: left;
  margin: 7px 0;
  word-break: break-all;
}

/* Responsividade */
@media (max-width: 1100px){
  .conteiner-quiz{
    width: 100vw;
  }

  .box-pergunta{
    padding: 0 7%;
  }
  .imagem{
    width: 40vw;
    height: 30vh;
  }
}


@media (max-width: 460px){
  .banner p{
    font-size: 28px;
  }
  .box-pergunta p{
    font-size: 19px;
  }
  .imagem{
    height: 15vh;
  }
}